#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#Mycarousel{
    background-color:aqua;
}
#Mycarousel img{
height:300px;
margin-top:35px;

}